body {
    background: #04A1BF;
    /*text-align: center;*/
    font-family: 'Open Sans', sans-serif;
}

body {
    background-image: url("tenor.png");
    background-repeat: no-repeat;
    /*background-size: 35%;*/
    background-size: 150px 150px;
    background-position: right bottom;
    /*background-attachment: fixed;*/
}

.intro {
    margin: 30px 0px;
    font-weight: bold;
}

h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 800;
}

th {outline: 2px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px
}

tbody {
    text-align: center;
}

.btn {
    background-color: orange;
    font-family: Calibri;
    color: white;
    padding: 12px 26px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 6px;
    margin: 4px 2px;
    cursor: pointer;
}